#                        __
#   ___________    ____ |  | _______     ____   ____  ______
#   \____ \__  \ /  ___\|  |/ /\__  \   / ___\_/ __ \/  ___/
#   |  |_) ) __ \\  \___|    <  / __ \_/ /_/  >  ___/\___ \
#   |   __(____  /\___  >__|_ \(____  /\___  / \___  >___  )
#   |__|       \/     \/     \/     \/(_____/      \/    \/

# install:set type=user path=$HOME/.atom/packages.cson

packages: [
  "arclight-syntax"
  "atom-alignment"
  "atom-beautify"
  "atom-uniform"
  "auto-indent"
  "busy-signal"
  "character-table"
  "charcode-display"
  "dracula-syntax"
  "dracula-ui"
  "editorconfig"
  "emmet"
  "ex-mode"
  "file-icons"
  "highlight-selected"
  "indent-detective"
  "indent-guide-improved"
  "intentions"
  "jackhammer-syntax"
  "language-fortran"
  "language-generic-config"
  "language-ini"
  "language-lua"
  "language-roff"
  "language-todofile"
  "language-viml"
  "language-x86-64-assembly"
  "linter"
  "linter-jscs"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "nord-atom-syntax"
  "nord-atom-ui"
  "nv-dark-syntax"
  "nv-dark-ui"
  "package-sync"
  "project-manager"
  "relative-numbers"
  "seti-syntax"
  "seti-ui"
  "todo-show"
  "trailing-spaces"
  "vim-mode-plus"
  "vim-modeline"
]
